/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* first section */
/* header-top */


.header-top{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding: 20px;
    
    
}
.box{
    display: flex;
    align-items: center;
}
.header-nav nav ul {
    list-style-type: none;
    display: flex;
}
.dropbox-img > img {
    max-width: 100%;
    margin-left: 10px;
}

.header-nav nav ul li a{
    text-decoration: none;
    margin-left: 20px;

}
.header-nav{
    display: flex;
    align-items: center;
}
button{
    background-color:#146CFF;
    color: white;
}
.header-top-button {
    padding: 5px 5px 5px 5px;
    margin-left: 3px;
    border: none;
}
    


/* first section */
/* bottom */

.header-bottom{
    background-color: #B4D0E7;;

}
.title{
    width: 60vw;
    max-height: 400px;
    margin: 0 auto;
    

}

.title-down {
    display: flex;
}

.title-left {
    width: calc((1 / 3) * 100%); 
}

.title-right {
    width: calc((2 / 3) * 100%); 
}

.title-right > img {
    max-width: 100%;
}

h1{
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.title-left > p {
    margin: 10px 0px 25px;
}

.title-left > i {
    margin-top: 20px;
}

.header-button{
    padding: 10px 10px 10px 10px;
    border: none;

}
/* main */
/* horizontal section */

.section{
    width: 50vw;
    margin: 0 auto;
    margin-top: 120px;
}

.top-section{
    width: 50vw;
    height:100px ;
    margin-bottom: 10px;
}

.central-section{
    display: flex;
    justify-content: space-between;

}

.planning-tabs{
    width: calc((1 / 3) * 100% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    min-height: 500px;
    
}

.bottom-section{
    width: 50vw;
    margin-bottom: 50px;
}

.horizontalh2{
    margin-bottom: 30px;
    font-size: 1.85rem;
}

.holder{
    text-align: center;
   
}
/* colums */
.offert{
    text-align: left;
    margin-right: 30px;
    
   
    
}
.fa-ul > li {
    margin-bottom: 10px;
}

.holder-small{
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
}

.offert > :is(div, h3) {
    margin: 20px 0px;
}

.offert > button {
    font-size: 0.75rem;
    padding: 5px;
}

.bottom-top{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}

.bottom-top > button {
    display: inline-block;
    height: auto;
}

.offert > h3{
    margin-left: 20px;
}
.offert > h4{
    margin-left: 20px;
}
.offert > p {
    margin-left: 20px;
    display: inline;
}
.offert > a {
    margin-left: 20px;
}


/*  button colums */
.button-list {
    padding: 10px;
    white-space: nowrap;
    font-size: 10px;
    margin-left: 20px;
    
    
}

/* bottom column */


.bottom-section {
    width: 50vw;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.head-col{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    
}

.horizontal {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.bottom-col {
    display: flex;
   
}
.col-left{
    width: 70%;
    margin-top: 15px;
    padding: 15px;
}

.bottom-col > h4{
    margin-bottom: 40px;
    
}
.ufficio{
    margin-bottom: 0;
}

/* dropbox partner */

.middle-box{
    width: 50vw;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
}

.img-left {
    width: 60%;
    
}
.img-text-right{
    width: 30%;
    margin-left: 40px;
}
.img-left > img {
    max-width: 100%;
}
/* dropbox-business */
.dropbox-business{
    width: 50vw;
    margin: 0 auto;
    
    margin-top: 100px;
}
  
.business-body{
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.business-card {
    width: calc(100% / 3 - 10px);
    margin-top: 30px;
   
}

.card-top > img{
   max-width: 100%;
}
.business-foot > h2 {
    margin-top: 100px;
}
.img-text-right > h2, p, button {
    margin-bottom: 25px;
}
.img-text-right > p {
    margin-bottom: 25px;
}
.img-text-right > button {
    margin-bottom: 25px;
}
.business-botton{
    background-color: white;
    color: black;
    padding: 10px 10px;
}

.business-foot > h2 {
    margin-bottom: 50px;
}


/* designit */

.designit {
    display: flex;
    margin-top: 40px;
    
}

.designit-section{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    
}

.designit-section > div {
    width: 50%;
    height: 50%;
    display: flex; /* Usa Flexbox per centrare l'immagine */
    justify-content: center; /* Centra l'immagine orizzontalmente */
    align-items: center;
}

.designit-section > div > img {
    
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
    filter: invert(100%);
    
}

.green {
    background-color:#A2D39B ;
}
.purple {
    background-color: #61082B;
}
.blue {
    background-color: #0093CE;
}
.red {
    background-color:#FF1C1C ;
}

.designit-section > img {
    max-width: 50%;
    max-height: 50%;
    padding: 20px;
}
.designit-section > p {
   
    padding: 20px;
}

/* azienda */
.azienda{
    width: 100%;
    height: 30vh;
    background-color: #B4D0E7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azienda-body{
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.azienda-body-left{
    display: flex;
    align-items: center;
    
}

.azienda{
    margin-bottom: 0;
    display:inline-block;
     
}
.azienda-body-right{
    display:inline-block;
}

/* domande frequenti */
.domande-frequenti{
    width: 50vw;
    margin: 0 auto;
    margin-top:100px
}
.domande-top{
    
    width: 50vw;
    margin: 0 auto;
}
.domande-top > h2{
    
    padding-bottom: 20px;
}

.domanda{
    border-top: 1px solid black;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

}
.domanda-last{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    


}


/* footer */

footer {
    width: 100%;
    background-color: black;
    
}
.footer-top {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.footer-list {
    width: calc((1 / 3) * 100% - 20px);
    color: white;
    line-height: 30px;
    margin-bottom: 40px;
}

.footer-list > nav ul li {
    list-style: none;
}
.footer-list > nav ul li a{
    text-decoration: none;
    color: white;
}
.footer-list > h3 {
        margin: 20px 0;
}
.footer-bottom {
    width: 70vw;
    margin: 0 auto;
    
}

.footer-content > span {
    margin-left: 3px;
    margin-right: 3px;
}

.line {
    width: 10%;
    height: 1px;
    background-color: white;
    display: block;
}
.footer-content {
    display: flex;
    display: flex;
    color: white;
    padding: 30px 0;
}
    





  



    
    
    
    





 





    
    





